.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.form-title {
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    gap: 8px;
}

.input-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

.message {
    margin: 0;
    font-size: small;
    font-weight: 500;
    color: #59ce6c;
}

.message-error {
    color: rgb(213, 83, 83);
}